image: docker:latest
services:
  - docker:dind

stages:
  - build
  - package
  - deploy

build:
  image: gradle:latest
  stage: build
  script:
    - gradle build
  artifacts:
    paths:
      - app/build/libs/app.jar

package:
  stage: package
  script:
    - docker build -t steinko/ci-cd-gitlab .
    - docker login -u steinko -p RoxyMusic11
    - docker push steinko/ci-cd-gitlab

deploy:
  stage: deploy
  before_script:
    - chmod +x ./scripts/*.sh
    - ./infAsCode/scripts/setup.sh
  script:
    - ./infAsCode/scripts/run-pulumi.sh
  # Create an artifact archive with just the pulumi log file,
  # which is created using console-redirection in run-pulumi.sh.
  artifacts:
    paths:
    - pulumi-log.txt
    # This is just a sample of how artifacts can be expired (removed) automatically in GitLab.
    # You may choose to not set this at all based on your organization's or team's preference.
    expire_in: 1 week
  # This job should only be created if the pipeline is created for the master branch.
  only:
  - master
